/*First Font*/
@font-face {
    font-family: Amatic;
    'src: url(https://fonts.googleapis.com/css2?family=Amatic+SC&display=swa);
}

/*First Font*/
@font-face {
    font-family: Kaushan;
    src: url(https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Dancing+Script:wght@562;600&family=Kaushan+Script&display=swap);

}

