body {
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
}
.fix {
    clear:both;
    overflow: hidden;
}
header{
    overflow: hidden;
    height: 100vh;
}
.vid-bg {
    position: absolute;
    right:0;
    bottom:0;
    min-width: 100%;
    min-height:100%;
    object-fit: fill;
    overflow: hidden;
    }
.flex-row {
    flex-wrap:wrap;
    flex-direction: row;
    display:flex;
}
.nav-area {
    background-color: rgb(43,51,92);
    padding-left:10%;
    height: 60px;
    position: absolute;
    width: 100%;
}
.img {
    display: block;
    height: 60px;
    float: left;
    width:60px;
}
.logo{
    margin:0 50px;
    height: 6px;
    float: left;
    color: rgb(255,255,255);
    font-size: 35px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 2px;
}
.logo span {
    color: rgb(131, 146, 211);;
}
.nav-social {
    margin:0 50px;
    height: 6px;
    float: right;
    color: rgb(255,255,255);
    font-size: 35px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 2px;    
}
.menu-area {
    float: right;
    list-style: none;
    margin: 10px;
}
.menu-area li {
    display: inline-block;
    margin: 0 5px;
    
}
.menu-area li a {
    text-decoration: none;
    font-size: 35px;
    color: rgb(255,255,255);
    padding: 5px 10px;
    letter-spacing: 2px;
}
.menu-area li:active a {
    color: rgb(131, 146, 211);
}
.menu-area li a:hover {
    color: rgb(131, 146, 211);
}
.banner-text {
    position: absolute;
    top: 35%;
    text-align: center;
}
.banner-text h2 {
    color:rgb(255,255,255);
    font-size: 100px;
    align-content: center;
    margin:0;
}
.banner-text h2 span {
    font-family:'Kaushan Script', cursive;
    align-content: center;
    color:rgb(131, 146, 211);
}
.banner-text p {
    color: rgb(232,138,96);
    font-size: 18px;
    margin:0;
    font-weight: bold;
}
.btn {
    display: inline-block;
    margin-top: 5%;
    background: transparent;
    border:0;
    font-family: 'Kaushan Script';
    font-size: 20px;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 10px 25px;
    color: #fff;
    border-radius: 25px;
}