body {
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
}

.fix {
    clear:both;
    overflow: hidden;
}
header{
    overflow: hidden;
    height: 100vh;
}
.vid-bg {
    position:absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  
    /* Center the video */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.nav-area{
    background-color: rgb(43,51,92);
    height: 60px;
    position: absolute;
    width: 100%;
}
.img {
    width: 100px; 
    height: 100px; 
    display: block;
}
.logo{
    margin:0 50px;
    height: 6px;
    float: left;
    color: rgb(232,138,96);
    font-size: 35px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 2px;
}
.logo span {
    color: rgb(99,40,55)
}
.menu-area {
    float: right;
    list-style: none;
    margin: 20px;
}
.menu-area li {
    display: inline-block;
    margin: 0 5px;
}
.menu-area li a {
    text-decoration: none;
    font-size: 60px;
    color: rgb(232,138,96)
    padding: 5px 10px;
    letter-spacing: 2px;
}
.menu-area li.active a {
    color: rgb(99,40,55);
}
.menu-area li a:hover {
    color: rgb(99,40,55);
}
.banner-text {
    position: absolute;
    top: 35%;
    text-align: center;
    left: 25%;
}
.banner-text h2 {
    color:rgb(232,138,96);
    font-size: 80px;
    margin:0;
}
.banner-text h2 span {
    font-family:'Kaushan Script', cursive;
    color:rgb(99,40,55);
}
.banner-text p {
    color: rgb(232,138,96);
    font-size: 18px;
    margin:0;
    font-weight: bold;
}
.btn {
    display: inline-block;
    margin-top: 5%;
    background: transparent;
    border:0;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 10px 25px;
    color: #fff;
    border-radius: 25px;
}